.wrapper-service{
    display:flex;
   gap:50px;
}
.service{
    width:350px;
    height:400px;
    font-size:17px;
    color:rgba(0, 0, 255, 0.795);
    flex:1;
}
.service h1{
    color:rgba(0, 0, 0, 0.74); 
}
.paragraph{
    text-align:left;
    font-weight: bold;
}
.image{
    flex:2;
}
.button{
    display:flex;
    gap:20px;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    background-color: orangered;
    border: none;
    border-radius:30px;
    cursor:pointer;
    text-align:center;
    width:200px;
    height: 30px;
}
.button:hover{
    color:var(--orange);
    background-color: orange;
    border: solid 1px orange;
}
.button p{
    margin-top:2px;
    color:white;
    margin-left:15px;
}
.buttom image{
    margin-top:10px;
}

img{

width:500px;
height:300px;
border-radius:20%;
}
.flier1{
    margin-top:20px;  
}

.contact-image1{
    margin-top:4px;
    width:20px;
    height:20px; 
}

@media screen and (max-width:880px) {

    .wrapper-service{
       display:flex;
       flex-direction: column;
        text-align: center;
        margin:0 auto;
        align-items: center;
        height:350px;
    }
    
    .paragraph{
        margin:0 auto;
        text-align:center;
    }
    .button{
        margin: 0 auto;
    }
    .flier1{
        position:relative;
        top:-390px;
        width:300px;
        height:279px;
        opacity:0.2;
    }
    
}
@media screen and (max-width:500px){
    .flier1{
        width:270px;
        height:260px;
        top:-370px;
    }
    
}