
.header{
    margin-top:100px;
    text-align: center;
    color:var(--orange);
    font-weight: bold;
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
}
.development h1{
text-align: center;
width:200px;
border-radius:34px;
border:none;
color:white;
font-size: 20px;
padding:14px;
background: var(--blue);
}
.fullstack{
    margin:0 auto;
    margin-bottom:20px;
}
.frontend{
   margin:0 auto;
}
.backend{
  margin:0 auto;
  }
.frontback{
    display:flex;
    margin:0 auto;
    margin-bottom:20px;
    gap:5%;
}
#download{
  position:absolute;
  left:0;
  right:0;   
  width:150px;
  margin:0 auto;
   cursor:pointer;
}
@media screen and (max-width:769px) {
  .development h1{
      gap:20%;
    }
@media screen and (max-width:420px){
  .header{
    font-size: 1.5rem;
  }
  .development h1{
    font-size:16px;
  }
}
@media screen and (max-width:350px){
.frontback{
  margin-right:4px;
}
.frontend{
  margin-right:3px;
}
}
}