.service{
  text-align: center;
}
.header{
    margin-top:100px;
    text-align: center;
    color:var(--orange);
    font-weight: bold;
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
}
.development h1{
text-align: center;
width:300px;
border-radius:34px;
border:none;
color:white;
font-size: 20px;
padding:14px;
background: var(--blue);
}
.fullstack{
  margin: 0 auto;
}
.frontback{
display: flex;
text-align: center;
margin-top:10px;
gap:5px;
}
.frontend{
  margin:0 auto;
}
.backend{
  margin: 0 auto;
}
#download{
  margin-top: 10px;
  cursor:pointer;
}
a{
  color:inherit;
}
@media screen and (max-width:450px){
 

  .header{
    font-size: 2rem;
  }
  .development h1{
    width:170px;
    font-size:16px;
  }
  .frontback{
    flex-direction:column;
  }
}
