.header-wrapper{
position:fixed;
top:17px;
left:20px;
}
.header-wrappers{
    background-color:var(--orange);
    width:200px;
    height:150px;
    position:fixed;
    top:39px;
    left:0px;
}
 li {
margin-top:10px;
margin-left:15px;
}
 li:hover{
    color:white;
}



@media screen and (min-width:880px){
    .header-wrapper{
        display:none;
    }
  
}