.wrapper{
    display:flex;

   
}
a{
text-decoration: none;
color: black;
}

.left{   
    display: flex;
    flex:1;
    gap:1rem;
}

.name{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color:var(--orange);
}
.heart {
    width:20px;
    height:25px;
}

.right{
display: flex;
flex:2;
font-weight: 400;
}
.list{
display:flex;
flex:1;  
}
.list>ul{
display:flex;
gap: 25%;
margin-right:30%;
}
.list li{
cursor:pointer;
}
.list li:hover {
    color:var(--orange);
}
.button{
    width:120px;

    height:40px;
    margin-left:20px;
    cursor:pointer;
}
@media screen and (max-width:880px){
    .wrapper{
        display:block ;
        margin-bottom:-100px;
    }
    .left{
        left:0;
        right:0;
        margin:0 auto;
        text-align:center;
    }
    .name{
        text-align:center;
    }
    .heart{
        margin:0 auto;
        text-align:center;
        position:relative;
    }
    .right{
        display:none;
    }

}
@media screen and (max-width:470px) {
.name, .heart{
    display:none;
}    
}