.intro{
    display:flex;
   
}

.left-intro{
    display:flex;
    flex:1;
    flex-direction: column;
    gap:2rem;
}
.name2{
    display:flex;
    flex-direction: column;
}
.name2>:nth-child(1){
    color:var(--blue);
    font-weight: bold;
    font-size: 3rem;
}
.name2>:nth-child(2){
    color:var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.name2>:nth-child(3){
    font-weight: bold;
    font-size: 14px;
    color:var(--blue);
}

.icons{
margin-right:20px;
margin-bottom:50px;
}
.github{
    width:30px;
    height:30px;
    margin-right:20px;
}
.linkedin{
    width:30px;
    height:30px;
}
.hire{
    width:100px;
    cursor: pointer;

}

.right-intro{ 
    flex:1;
    text-align: center;
    margin:0 auto;
    
}

.laptop{
    background-color:white;
    margin:0 auto;
    width:600px;
}
.skills{
    font-weight:bold;
    font-size:30px;
    color:var(--orange);
}
.images img{
    width:60px;
    height:40px;
}
.node{
    position:absolute;
    top:130px;
    right:350px;
}
.css{
    position:absolute;
    top:300px;
    right:500px;
}
.mongoDB{
    position:absolute;
    top: 300px;
    right:170px;
}
.javascript{
    position:absolute;
    right:450px;
}
.react{
    position:absolute;
    right:250px;
}
@media screen and (max-width:880px) {
.intro{
    display:flex;
    margin-top:150px;
    flex-direction:column;
  
}
.left-intro{
    text-align:center;
}
.right-intro{
    margin: 0 auto;
}
.laptop{
    width:400px;
    margin:0 auto;
    
}

.images img{
    width:40px;
}
.hire{
    margin:0 auto;
}

.node{
    top: 465px;
    right:415px;
}
.mongoDB{
    top:570px;
    right:250px;
}
.css{
    top: 570px;
    right:550px;
}
.javascript{
   
    right:510px;
}
.react{
    right:300px;
}
@media screen and (max-width:590px){
    .images img{
        width:40px;
    }
    .laptop{
        width:400px;
    }
    .skills{
        text-align:center;
    }
    .node{
        left:260px;
    }
    .mongoDB{
        top:620px;
        left:370px;
    }
    .css{
        top:620px;
        left:170px;
    }
    .javascript{
        left:170px;
    }
    .react{
        left:370px;
    }
}

@media  screen and (max-width:470px){
.images img{
        width:20px;
    }
.laptop{
    width:300px;
  }  
  .node{
    top:535px;
    left:213px;
  }
  .css{
    left:140px;
  }
  .mongoDB{
    left:300px;
  }
  .javascript{
    left:140px;
  }
  .react{
    left:300px;
  }
}
@media screen and (max-width:380px){
.images img{
        width:30px;
        height:30px;
    }
.laptop{
    width:250px;
}
.node{
    top:585px;
    left:170px;
}
.css{
    top:650px;
    left:115px;
}
.mongoDB{
    top:650px;
    left:260px;
}
.javascript{
    left:120px;
}
.react{
    left:260px;
}
}    
}
@media screen and (max-width:352px) {
    .node{
        top:523px;
        left:171px;
    }
  .css{
    top:590px;
  }  
  .mongoDB{
    left:230px;
    top:590px;
  }
  .react{
    left:230px;
  }
}


