.footer-wrapper{
margin-top:15px;
text-align: center;
justify-content: center;
height:100px;
border-radius:20px;
background-color: rgba(74, 83, 83, 0.322);
color:white;
}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
   
}

@media screen and (max-width:400px){
    .footer-wrapper{
        height:100px;
        font-size:14px;
    }
}